*.i90
*.mod
*.obj
*.suo
*.u2d
*.nc
lib/
modules/
timestamp
VERSION
include/version.h
*.pyc
/src/models/hzg/maecs/doc/latex/*
/src/models/hzg/maecs/doc/html/*
/src/models/hzg/n2pzdq/doc/latex/*
/src/models/hzg/n2pzdq/doc/html/*
